#project-colors {
    color: #59273F; /*  #59273F Main color  */
    color: #D9C1D0; /*  #D9C1D0 Secondary color  */
    color: #5C0818; /*  #5C0818 Main Strong variation  */
    color: #F5B1AA; /*  #F5B1AA Secondary variation  */
    color: #2E0804; /*  #2E0804 button or link element color  */
    color: #fff; /* Default White */
    color: #000; /* Default Black */
}